# Data & Output Folders
processed/*
!processed/graph_drug_mapping.pkl
faers_ascii_*/
*.csv
*.parquet
*.txt
*.pdf
*.zip
*.pem
*nginx.default*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# IDEs
.vscode/
.idea/
*.swp
